# Credit Risk Modeling | Part 4: Checking Populating Stability Index (PSI)

<img src = "https://insightconsultants.co/wp-content/uploads/2020/05/creditscore.jpg" width = '750'>


We obtained the credit risk models with the loan data from 2007 to 2014. In this notebook, we will check if the model performs well with the loan data in 2015.  
  
Credit score is the outcome that our probability model gives us, or, in other words, the assessment of credit worthiness. The substantial difference between the two populations shows that it is necessary to build a new PD model which corresponds more closely to the most recent population.

# 1 Data Preparation

## Importing Libraries

In [1]:
#installing gdown package to download dataset stored in G Drive
!pip install gdown
# to upgrade
!pip install --upgrade gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.8/dist-packages (4.6.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from gdown) (3.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from gdown) (2.25.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.7.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.8/dist-packages (4.6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from gdown) (3.9.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from gdown) (2.25.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.7.1)

In [2]:
#libs for managing data
import numpy as np
import pandas as pd

#libs for ML regression model
from sklearn.linear_model import LogisticRegression
from sklearn import metrics  
from sklearn.metrics import roc_curve, roc_auc_score

#libs for plotting
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#exporting ML model
import pickle

#lib to download dataset on g drive
import gdown

#setting display option max rows
#pd.options.display.max_rows = None

#importing custom-made functions
import sys #importing local functions in src folder
sys.path.append('../src/')
from functions import *

## Importing Data

In [3]:
#loading dataset from Gdrive
#fname_2007etp = "https://drive.google.com/file/d/16JXrTBSgEJH4_30zlFFBye1GRHh5h4O0/view?usp=share_link"
#fname_2007etp = 'https://drive.google.com/uc?id=' + fname_2007etp.split('/')[-2]

#updated dataset
fname_2015 = "https://drive.google.com/file/d/1Fb7LFd97aJm0ySb0A48_znfe9KQzaUZO/view?usp=share_link"
fname_2015 = 'https://drive.google.com/uc?id=' + fname_2015.split('/')[-2]

In [4]:
# downloading gdrive files
url = fname_2015
output = "loan_data_2015.csv"
gdown.download(url, output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1Fb7LFd97aJm0ySb0A48_znfe9KQzaUZO
To: /content/loan_data_2015.csv
100%|██████████| 190M/190M [00:01<00:00, 139MB/s]

'loan_data_2015.csv'

In [5]:
loan_data= pd.read_csv(output)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (19,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
# test and train datasets were preprocessed in the first notebook.
# they were than stocked over G-drive for the easiness. 
# the links below download the training dataset  from G-Drive
url = "https://drive.google.com/file/d/1v45P0HhUxZ1x4HmD0bWblpUyUWuiC0_5/view?usp=share_link"
output = "loan_data_inputs_train.csv"
g_down (url,'../data/'+output)

Downloading...
From: https://drive.google.com/uc?id=1v45P0HhUxZ1x4HmD0bWblpUyUWuiC0_5
To: /data/loan_data_inputs_train.csv
100%|██████████| 436M/436M [00:04<00:00, 89.9MB/s]

In [7]:
#loading csv files as pd dataframes
inputs_train = pd.read_csv ('../data/'+'loan_data_inputs_train.csv',index_col =0)

## Exploring Data

In [8]:
# Uncomment below to set the pandas dataframe options to display all columns/ rows.
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None

loan_data.shape

(421094, 74)

In [9]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,68444620,73334399,35000,35000,35000.0,60 months,11.99,778.38,C,C1,...,35367.0,49.3,0.0,1.0,5020.0,40.1,52200.0,1.0,4.0,0.0
1,68547583,73437441,8650,8650,8650.0,36 months,5.32,260.50,A,A1,...,24041.0,88.8,0.0,3.0,3081.0,57.9,26800.0,1.0,0.0,5.0
2,67849662,72708407,4225,4225,4225.0,36 months,14.85,146.16,C,C5,...,3830.0,21.9,0.0,0.0,367.0,22.4,4300.0,0.0,0.0,0.0
3,68506885,73396712,10000,10000,10000.0,60 months,11.99,222.40,C,C1,...,35354.0,75.5,1.0,1.0,3118.0,67.4,14200.0,1.0,1.0,1.0
4,68341763,72928789,20000,20000,20000.0,60 months,10.78,432.66,B,B4,...,10827.0,72.8,0.0,2.0,2081.0,64.7,14000.0,2.0,5.0,1.0

In [10]:
loan_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
421089,36371250,39102635,10000,10000,10000.0,36 months,11.99,332.10,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN
421090,36441262,39152692,24000,24000,24000.0,36 months,11.99,797.03,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
421091,36271333,38982739,13000,13000,13000.0,60 months,15.99,316.07,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN
421092,36490806,39222577,12000,12000,12000.0,60 months,19.99,317.86,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,27000.0,NaN,NaN,NaN
421093,36271262,38982659,20000,20000,20000.0,36 months,11.99,664.20,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN

In [11]:
loan_data.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m'], dtype=object)

In [12]:
# Displaying column names with non missing cases and datatype
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421094 entries, 0 to 421093
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           421094 non-null  int64
 1   member_id                    421094 non-null  int64
 2   loan_amnt                    421094 non-null  int64
 3   funded_amnt                  421094 non-null  int64
 4   funded_amnt_inv              421094 non-null  float64
 5   term                         421094 non-null  object
 6   int_rate                     421094 non-null  float64
 7   installment                  421094 non-null  float64
 8   grade                        421094 non-null  object
 9   sub_grade                    421094 non-null  object
 10  emp_title                    397220 non-null  object
 11  emp_length                   397277 non-null  object
 12  home_ownership               421094 non-null  object
 13  annual_inc                   421094 non-null  float64
 14  verification_status          421094 non-null  object
 15  issue_d                      421094 non-null  object
 16  loan_status                  421094 non-null  object
 17  pymnt_plan                   421094 non-null  object
 18  url                          421094 non-null  object
 19  desc                         45 non-null      object
 20  purpose                      421094 non-null  object
 21  title                        420962 non-null  object
 22  zip_code                     421094 non-null  object
 23  addr_state                   421094 non-null  object
 24  dti                          421094 non-null  float64
 25  delinq_2yrs                  421094 non-null  float64
 26  earliest_cr_line             421094 non-null  object
 27  inq_last_6mths               421094 non-null  float64
 28  mths_since_last_delinq       217133 non-null  float64
 29  mths_since_last_record       74415 non-null   float64
 30  open_acc                     421094 non-null  float64
 31  pub_rec                      421094 non-null  float64
 32  revol_bal                    421094 non-null  int64
 33  revol_util                   420932 non-null  float64
 34  total_acc                    421094 non-null  float64
 35  initial_list_status          421094 non-null  object
 36  out_prncp                    421094 non-null  float64
 37  out_prncp_inv                421094 non-null  float64
 38  total_pymnt                  421094 non-null  float64
 39  total_pymnt_inv              421094 non-null  float64
 40  total_rec_prncp              421094 non-null  float64
 41  total_rec_int                421094 non-null  float64
 42  total_rec_late_fee           421094 non-null  float64
 43  recoveries                   421094 non-null  float64
 44  collection_recovery_fee      421094 non-null  float64
 45  last_pymnt_d                 403811 non-null  object
 46  last_pymnt_amnt              421094 non-null  float64
 47  next_pymnt_d                 395337 non-null  object
 48  last_credit_pull_d           421083 non-null  object
 49  collections_12_mths_ex_med   421094 non-null  float64
 50  mths_since_last_major_derog  122729 non-null  float64
 51  policy_code                  421094 non-null  int64
 52  application_type             421094 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               421094 non-null  float64
 57  tot_coll_amt                 421094 non-null  float64
 58  tot_cur_bal                  421094 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             421094 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(45), int64(6), object(23)
memory usage: 237.7+ MB

# 2 General Preprocessing

## a Discrete variables - Dummy columns

In [13]:
dummy_columns = ['grade','sub_grade','home_ownership','verification_status',
                 'loan_status','purpose','addr_state','initial_list_status']

df_Dummies = pd.DataFrame()
for col in dummy_columns:
  df_Dummy= pd.get_dummies(loan_data[col], prefix = col, prefix_sep = ':')
  df_Dummies = pd.concat([df_Dummies,df_Dummy ], axis=1)
  #print(loan_data_Dummies.head())
  # = pd.concat([loan_data,loan_data_Dummies],axis = 1)

In [14]:
#list of all dummy columns. 
df_Dummies.columns.values

array(['grade:A', 'grade:B', 'grade:C', 'grade:D', 'grade:E', 'grade:F',
       'grade:G', 'sub_grade:A1', 'sub_grade:A2', 'sub_grade:A3',
       'sub_grade:A4', 'sub_grade:A5', 'sub_grade:B1', 'sub_grade:B2',
       'sub_grade:B3', 'sub_grade:B4', 'sub_grade:B5', 'sub_grade:C1',
       'sub_grade:C2', 'sub_grade:C3', 'sub_grade:C4', 'sub_grade:C5',
       'sub_grade:D1', 'sub_grade:D2', 'sub_grade:D3', 'sub_grade:D4',
       'sub_grade:D5', 'sub_grade:E1', 'sub_grade:E2', 'sub_grade:E3',
       'sub_grade:E4', 'sub_grade:E5', 'sub_grade:F1', 'sub_grade:F2',
       'sub_grade:F3', 'sub_grade:F4', 'sub_grade:F5', 'sub_grade:G1',
       'sub_grade:G2', 'sub_grade:G3', 'sub_grade:G4', 'sub_grade:G5',
       'home_ownership:ANY', 'home_ownership:MORTGAGE',
       'home_ownership:OWN', 'home_ownership:RENT',
       'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Issued', 'loan_status:Late (16-30 days)',
       'loan_status:Late (31-120 days)', 'purpose:car',
       'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IL', 'addr_state:IN', 'addr_state:KS', 'addr_state:KY',
       'addr_state:LA', 'addr_state:MA', 'addr_state:MD', 'addr_state:ME',
       'addr_state:MI', 'addr_state:MN', 'addr_state:MO', 'addr_state:MS',
       'addr_state:MT', 'addr_state:NC', 'addr_state:ND', 'addr_state:NE',
       'addr_state:NH', 'addr_state:NJ', 'addr_state:NM', 'addr_state:NV',
       'addr_state:NY', 'addr_state:OH', 'addr_state:OK', 'addr_state:OR',
       'addr_state:PA', 'addr_state:RI', 'addr_state:SC', 'addr_state:SD',
       'addr_state:TN', 'addr_state:TX', 'addr_state:UT', 'addr_state:VA',
       'addr_state:VT', 'addr_state:WA', 'addr_state:WI', 'addr_state:WV',
       'addr_state:WY', 'initial_list_status:f', 'initial_list_status:w'],
      dtype=object)

In [15]:
#merging dummy columns with the main dataset
loan_data = pd.concat([loan_data,df_Dummies],axis = 1)

## b Continuous variables - Dt format conversion

In [16]:
#lets convert emp_length into integer
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '5 years', '3 years', '4 years', nan,
       '2 years', '8 years', '9 years', '1 year', '6 years', '7 years'],
      dtype=object)

In [17]:
loan_data['emp_length_int']= loan_data['emp_length'].str.replace('\+ years','')
loan_data['emp_length_int']= loan_data['emp_length_int'].str.replace('< 1 year',str(0))
loan_data['emp_length_int']= loan_data['emp_length_int'].str.replace('n/a',str(0))
loan_data['emp_length_int']= loan_data['emp_length_int'].str.replace(' years','')
loan_data['emp_length_int']= loan_data['emp_length_int'].str.replace(' year','')

<ipython-input-17-5cec5e7f262f>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  loan_data['emp_length_int']= loan_data['emp_length'].str.replace('\+ years','')

In [18]:
loan_data['emp_length_int']=pd.to_numeric(loan_data['emp_length_int'])

In [19]:
# date variables not in dt format
loan_data['earliest_cr_line']

0         Feb-90
1         Jul-01
2         Jul-11
3         Dec-98
4         Aug-00
           ...
421089    Sep-04
421090    Mar-74
421091    Sep-03
421092    Oct-03
421093    Dec-01
Name: earliest_cr_line, Length: 421094, dtype: object

In [20]:
#converting date column to format %b-%y : Apr-03 => 2003-04-03
loan_data['earliest_cr_line_date']=pd.to_datetime(loan_data['earliest_cr_line'],format = '%b-%y')
#calculating the months since a default date taken as 2017-12-01
diff_cr_line = pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']
loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric( diff_cr_line / np.timedelta64(1, 'M')))

In [21]:
loan_data['mths_since_earliest_cr_line'].describe()

count    421094.000000
mean        227.354876
std          98.123989
min        -612.000000
25%         167.000000
50%         212.000000
75%         277.000000
max         587.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [22]:
#finding out why there are negative values in our dataset
m1 = loan_data['mths_since_earliest_cr_line']<0
loan_data.loc[m1,['earliest_cr_line','earliest_cr_line_date','mths_since_earliest_cr_line']].head()

     earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
254            Jan-57            2057-01-01                       -469.0
618            Aug-64            2064-08-01                       -560.0
648            Jul-68            2068-07-01                       -607.0
1808           Jan-65            2065-01-01                       -565.0
2583           Sep-64            2064-09-01                       -561.0

In [23]:
# it is neccessary to handle negative values. they are due to the 196x data read as 206x
# we take the maximum month difference to replace negative values
loan_data.loc[m1,'mths_since_earliest_cr_line'] = loan_data.loc[:,'mths_since_earliest_cr_line'].max()

In [24]:
#let's convert term column to integer format
loan_data['term']

0          60 months
1          36 months
2          36 months
3          60 months
4          60 months
             ...
421089     36 months
421090     36 months
421091     60 months
421092     60 months
421093     36 months
Name: term, Length: 421094, dtype: object

In [25]:
loan_data['term_int'] = loan_data['term'].str.replace(' months', '').astype(int)
loan_data['term_int'].describe()

count    421094.000000
mean         43.860782
std          11.263533
min          36.000000
25%          36.000000
50%          36.000000
75%          60.000000
max          60.000000
Name: term_int, dtype: float64

In [26]:
# Assuming we are in December 2017
loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format = '%b-%y')

#calculating the month difference from 2017-12-01
# We calculate the difference between two dates in months, turn it to numeric datatype and round it.
diff_issue_d = pd.to_datetime('2017-12-01') - loan_data['issue_d_date']
loan_data['mths_since_issue_d'] = round(pd.to_numeric( diff_issue_d / np.timedelta64(1, 'M')))

# Showing some descriptive statisics for the values of a column.
loan_data['mths_since_issue_d'].describe()

count    421094.000000
mean         29.044629
std           3.458162
min          24.000000
25%          26.000000
50%          29.000000
75%          32.000000
max          35.000000
Name: mths_since_issue_d, dtype: float64

## c Checking for missing values or cleaning them

In [27]:
pd.options.display.max_rows = None
loan_data.isnull().sum().sort_values(ascending=False)

desc                                   421049
dti_joint                              420585
annual_inc_joint                       420583
verification_status_joint              420583
il_util                                402477
mths_since_rcnt_il                     400284
open_il_12m                            399722
inq_fi                                 399722
inq_last_12m                           399722
total_cu_tl                            399722
open_acc_6m                            399722
open_il_6m                             399722
all_util                               399722
open_rv_24m                            399722
max_bal_bc                             399722
open_il_24m                            399722
total_bal_il                           399722
open_rv_12m                            399722
mths_since_last_record                 346679
mths_since_last_major_derog            298365
mths_since_last_delinq                 203961
next_pymnt_d                            25757
emp_title                               23874
emp_length                              23817
emp_length_int                          23817
last_pymnt_d                            17283
revol_util                                162
title                                     132
last_credit_pull_d                         11
addr_state:CT                               0
addr_state:CO                               0
addr_state:CA                               0
addr_state:DE                               0
addr_state:DC                               0
addr_state:FL                               0
addr_state:GA                               0
addr_state:AR                               0
addr_state:HI                               0
addr_state:AZ                               0
id                                          0
addr_state:AL                               0
addr_state:AK                               0
home_ownership:MORTGAGE                     0
home_ownership:OWN                          0
home_ownership:RENT                         0
verification_status:Not Verified            0
verification_status:Source Verified         0
verification_status:Verified                0
loan_status:Charged Off                     0
loan_status:Current                         0
loan_status:Default                         0
loan_status:Fully Paid                      0
loan_status:In Grace Period                 0
loan_status:Issued                          0
loan_status:Late (16-30 days)               0
loan_status:Late (31-120 days)              0
purpose:car                                 0
purpose:credit_card                         0
purpose:debt_consolidation                  0
purpose:educational                         0
purpose:home_improvement                    0
purpose:house                               0
purpose:major_purchase                      0
purpose:medical                             0
purpose:moving                              0
purpose:other                               0
purpose:renewable_energy                    0
purpose:vacation                            0
purpose:wedding                             0
purpose:small_business                      0
addr_state:KS                               0
addr_state:IL                               0
addr_state:IN                               0
addr_state:PA                               0
addr_state:RI                               0
addr_state:SC                               0
addr_state:SD                               0
addr_state:TN                               0
addr_state:TX                               0
addr_state:UT                               0
addr_state:VA                               0
addr_state:VT                               0
addr_state:WA                               0
addr_state:WI                               0
addr_state:WV                               0
addr_state:WY                               0
initial_list_status:f                       0
initial_list_status:w                       0
earliest_cr_line_date                       0
mths_since_earliest_cr_line                 0
term_int                                    0
issue_d_date                                0
addr_state:OR                               0
addr_state:OK                               0
addr_state:OH                               0
addr_state:MO                               0
sub_grade:G5                                0
addr_state:KY                               0
addr_state:LA                               0
addr_state:MA                               0
addr_state:MD                               0
addr_state:ME                               0
addr_state:MI                               0
addr_state:MN                               0
addr_state:MS                               0
addr_state:NY                               0
addr_state:MT                               0
addr_state:NC                               0
addr_state:ND                               0
addr_state:NE                               0
addr_state:NH                               0
addr_state:NJ                               0
addr_state:NM                               0
addr_state:NV                               0
home_ownership:ANY                          0
sub_grade:E1                                0
sub_grade:G4                                0
total_pymnt_inv                             0
open_acc                                    0
pub_rec                                     0
revol_bal                                   0
total_acc                                   0
initial_list_status                         0
out_prncp                                   0
out_prncp_inv                               0
total_pymnt                                 0
total_rec_prncp                             0
earliest_cr_line                            0
total_rec_int                               0
total_rec_late_fee                          0
recoveries                                  0
collection_recovery_fee                     0
last_pymnt_amnt                             0
collections_12_mths_ex_med                  0
policy_code                                 0
application_type                            0
inq_last_6mths                              0
delinq_2yrs                                 0
sub_grade:G3                                0
home_ownership                              0
loan_amnt                                   0
funded_amnt                                 0
funded_amnt_inv                             0
term                                        0
int_rate                                    0
installment                                 0
grade                                       0
sub_grade                                   0
annual_inc                                  0
dti                                         0
verification_status                         0
issue_d                                     0
loan_status                                 0
pymnt_plan                                  0
url                                         0
purpose                                     0
zip_code                                    0
addr_state                                  0
acc_now_delinq                              0
tot_coll_amt                                0
tot_cur_bal                                 0
sub_grade:E3                                0
sub_grade:C5                                0
sub_grade:D1                                0
sub_grade:D2                                0
sub_grade:D3                                0
sub_grade:D4                                0
sub_grade:D5                                0
member_id                                   0
sub_grade:E2                                0
sub_grade:E4                                0
total_rev_hi_lim                            0
sub_grade:E5                                0
sub_grade:F1                                0
sub_grade:F2                                0
sub_grade:F3                                0
sub_grade:F4                                0
sub_grade:F5                                0
sub_grade:G1                                0
sub_grade:G2                                0
sub_grade:C4                                0
sub_grade:C3                                0
sub_grade:C2                                0
sub_grade:C1                                0
grade:A                                     0
grade:B                                     0
grade:C                                     0
grade:D                                     0
grade:E                                     0
grade:F                                     0
grade:G                                     0
sub_grade:A1                                0
sub_grade:A2                                0
sub_grade:A3                                0
sub_grade:A4                                0
sub_grade:A5                                0
sub_grade:B1                                0
sub_grade:B2                                0
sub_grade:B3                                0
sub_grade:B4                                0
sub_grade:B5                                0
mths_since_issue_d                          0
dtype: int64

In [28]:
# filling up the empty rows that will be used in our model.
# we use funded_amnt for the missing total_rev_hi_lim values
# fundedAmnt The total amount committed to that loan at that point in time.
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'],inplace = True)

In [29]:
# for the missing values in annual_inc, mean value is considered.  
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(),inplace = True)

In [30]:
# for the missing values below, we consider 0
loan_data['mths_since_earliest_cr_line'].fillna(0,inplace = True)
loan_data['acc_now_delinq'].fillna(0, inplace=True)
loan_data['total_acc'].fillna(0, inplace=True)
loan_data['pub_rec'].fillna(0, inplace=True)
loan_data['open_acc'].fillna(0, inplace=True)
loan_data['inq_last_6mths'].fillna(0, inplace=True)
loan_data['delinq_2yrs'].fillna(0, inplace=True)
loan_data['emp_length_int'].fillna(0, inplace=True)

##**d Preprocessing of discrete variables**

We apply the same preprocessing as done in L01 notebook.

In [31]:
#running preproc on test dataset
loan_data_2015= preproc_input_data2015 (loan_data)
loan_data_2015.columns.values

/content/../src/functions.py:598: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:Missing'] = np.where((df_inputs_prepr['mths_since_last_record'].isnull()), 1, 0)
/content/../src/functions.py:599: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:0-2'] = np.where((df_inputs_prepr['mths_since_last_record'] >= 0) & (df_inputs_prepr['mths_since_last_record'] <= 2), 1, 0)
/content/../src/functions.py:600: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:3-20'] = np.where((df_inputs_prepr['mths_since_last_record'] >= 3) & (df_inputs_prepr['mths_since_last_record'] <= 20), 1, 0)
/content/../src/functions.py:601: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:21-31'] = np.where((df_inputs_prepr['mths_since_last_record'] >= 21) & (df_inputs_prepr['mths_since_last_record'] <= 31), 1, 0)
/content/../src/functions.py:602: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:32-80'] = np.where((df_inputs_prepr['mths_since_last_record'] >= 32) & (df_inputs_prepr['mths_since_last_record'] <= 80), 1, 0)
/content/../src/functions.py:603: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:81-86'] = np.where((df_inputs_prepr['mths_since_last_record'] >= 81) & (df_inputs_prepr['mths_since_last_record'] <= 86), 1, 0)
/content/../src/functions.py:604: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:>=86'] = np.where((df_inputs_prepr['mths_since_last_record'] > 86), 1, 0)

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'grade:A', 'grade:B', 'grade:C',
       'grade:D', 'grade:E', 'grade:F', 'grade:G', 'sub_grade:A1',
       'sub_grade:A2', 'sub_grade:A3', 'sub_grade:A4', 'sub_grade:A5',
       'sub_grade:B1', 'sub_grade:B2', 'sub_grade:B3', 'sub_grade:B4',
       'sub_grade:B5', 'sub_grade:C1', 'sub_grade:C2', 'sub_grade:C3',
       'sub_grade:C4', 'sub_grade:C5', 'sub_grade:D1', 'sub_grade:D2',
       'sub_grade:D3', 'sub_grade:D4', 'sub_grade:D5', 'sub_grade:E1',
       'sub_grade:E2', 'sub_grade:E3', 'sub_grade:E4', 'sub_grade:E5',
       'sub_grade:F1', 'sub_grade:F2', 'sub_grade:F3', 'sub_grade:F4',
       'sub_grade:F5', 'sub_grade:G1', 'sub_grade:G2', 'sub_grade:G3',
       'sub_grade:G4', 'sub_grade:G5', 'home_ownership:ANY',
       'home_ownership:MORTGAGE', 'home_ownership:OWN',
       'home_ownership:RENT', 'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Issued', 'loan_status:Late (16-30 days)',
       'loan_status:Late (31-120 days)', 'purpose:car',
       'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IL', 'addr_state:IN', 'addr_state:KS', 'addr_state:KY',
       'addr_state:LA', 'addr_state:MA', 'addr_state:MD', 'addr_state:ME',
       'addr_state:MI', 'addr_state:MN', 'addr_state:MO', 'addr_state:MS',
       'addr_state:MT', 'addr_state:NC', 'addr_state:ND', 'addr_state:NE',
       'addr_state:NH', 'addr_state:NJ', 'addr_state:NM', 'addr_state:NV',
       'addr_state:NY', 'addr_state:OH', 'addr_state:OK', 'addr_state:OR',
       'addr_state:PA', 'addr_state:RI', 'addr_state:SC', 'addr_state:SD',
       'addr_state:TN', 'addr_state:TX', 'addr_state:UT', 'addr_state:VA',
       'addr_state:VT', 'addr_state:WA', 'addr_state:WI', 'addr_state:WV',
       'addr_state:WY', 'initial_list_status:f', 'initial_list_status:w',
       'emp_length_int', 'earliest_cr_line_date',
       'mths_since_earliest_cr_line', 'term_int', 'issue_d_date',
       'mths_since_issue_d', 'home_ownership:RENT_OTHER_NONE_ANY',
       'addr_state:ND_NE_IA_NV_FL_HI_AL', 'addr_state:NM_VA',
       'addr_state:OK_TN_MO_LA_MD_NC', 'addr_state:UT_KY_AZ_NJ',
       'addr_state:AR_MI_PA_OH_MN', 'addr_state:RI_MA_DE_SD_IN',
       'addr_state:GA_WA_OR', 'addr_state:WI_MT', 'addr_state:IL_CT',
       'addr_state:KS_SC_CO_VT_AK_MS', 'addr_state:WV_NH_WY_DC_ME_ID',
       'purpose:educ__sm_b__wedd__ren_en__mov__house',
       'purpose:oth__med__vacation',
       'purpose:major_purch__car__home_impr', 'term:36', 'term:60',
       'emp_length:0', 'emp_length:1', 'emp_length:2-4', 'emp_length:5-6',
       'emp_length:7-9', 'emp_length:10', 'int_rate:<9.548',
       'int_rate:9.548-12.025', 'int_rate:12.025-15.74',
       'int_rate:15.74-20.281', 'int_rate:>20.281',
       'mths_since_earliest_cr_line:<140',
       'mths_since_earliest_cr_line:141-164',
       'mths_since_earliest_cr_line:165-247',
       'mths_since_earliest_cr_line:248-270',
       'mths_since_earliest_cr_line:271-352',
       'mths_since_earliest_cr_line:>352', 'delinq_2yrs:0',
       'delinq_2yrs:1-3', 'delinq_2yrs:>=4', 'inq_last_6mths:0',
       'inq_last_6mths:1-2', 'inq_last_6mths:3-6', 'inq_last_6mths:>6',
       'open_acc:0', 'open_acc:1-3', 'open_acc:4-12', 'open_acc:13-17',
       'open_acc:18-22', 'open_acc:23-25', 'open_acc:26-30',
       'open_acc:>=31', 'pub_rec:0-2', 'pub_rec:3-4', 'pub_rec:>=5',
       'total_acc:<=27', 'total_acc:28-51', 'total_acc:>=52',
       'acc_now_delinq:0', 'acc_now_delinq:>=1', 'total_rev_hi_lim:<=5K',
       'total_rev_hi_lim:5K-10K', 'total_rev_hi_lim:10K-20K',
       'total_rev_hi_lim:20K-30K', 'total_rev_hi_lim:30K-40K',
       'total_rev_hi_lim:40K-55K', 'total_rev_hi_lim:55K-95K',
       'total_rev_hi_lim:>95K', 'annual_inc:<20K', 'annual_inc:20K-30K',
       'annual_inc:30K-40K', 'annual_inc:40K-50K', 'annual_inc:50K-60K',
       'annual_inc:60K-70K', 'annual_inc:70K-80K', 'annual_inc:80K-90K',
       'annual_inc:90K-100K', 'annual_inc:100K-120K',
       'annual_inc:120K-140K', 'annual_inc:>140K',
       'mths_since_last_delinq:Missing', 'mths_since_last_delinq:0-3',
       'mths_since_last_delinq:4-30', 'mths_since_last_delinq:31-56',
       'mths_since_last_delinq:>=57', 'dti:<=1.4', 'dti:1.4-3.5',
       'dti:3.5-7.7', 'dti:7.7-10.5', 'dti:10.5-16.1', 'dti:16.1-20.3',
       'dti:20.3-21.7', 'dti:21.7-22.4', 'dti:22.4-35', 'dti:>35',
       'mths_since_last_record:Missing', 'mths_since_last_record:0-2',
       'mths_since_last_record:3-20', 'mths_since_last_record:21-31',
       'mths_since_last_record:32-80', 'mths_since_last_record:81-86',
       'mths_since_last_record:>=86'], dtype=object)

In [32]:
# We commented on some features, the coefficients for all or almost all of the dummy variables for which,
# are not statistically significant.
# Refined variables
features_all = ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
#'mths_since_earliest_cr_line:<140',
#'mths_since_earliest_cr_line:141-164',
#'mths_since_earliest_cr_line:165-247',
#'mths_since_earliest_cr_line:248-270',
#'mths_since_earliest_cr_line:271-352',
#'mths_since_earliest_cr_line:>352',
#'delinq_2yrs:0',
#'delinq_2yrs:1-3',
#'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
#'open_acc:0',
#'open_acc:1-3',
#'open_acc:4-12',
#'open_acc:13-17',
#'open_acc:18-22',
#'open_acc:23-25',
#'open_acc:26-30',
#'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
#'total_acc:<=27',
#'total_acc:28-51',
#'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
#'mths_since_last_delinq:Missing',
#'mths_since_last_delinq:0-3',
#'mths_since_last_delinq:4-30',
#'mths_since_last_delinq:31-56',
#'mths_since_last_delinq:>=57',
#'mths_since_last_record:Missing',
#'mths_since_last_record:0-2',
#'mths_since_last_record:3-20',
#'mths_since_last_record:21-31',
#'mths_since_last_record:32-80',
#'mths_since_last_record:81-86',
#'mths_since_last_record:>=86',
]

In [33]:

ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'int_rate:>20.281',
#'mths_since_earliest_cr_line:<140',
#'delinq_2yrs:>=4',
'inq_last_6mths:>6',
#'open_acc:0',
'pub_rec:0-2',
#'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35'
#'mths_since_last_delinq:0-3',
#'mths_since_last_record:0-2'
]

In [34]:
inputs_2015_With_ref_cat = loan_data_2015.loc[:,features_all]

In [35]:
# loading values of df in a new dataframe.   
inputs_train_With_ref_categories = inputs_train.loc[: ,features_all]
 
inputs_train_With_ref_categories.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,home_ownership:RENT_OTHER_NONE_ANY,home_ownership:OWN,home_ownership:MORTGAGE,...,dti:<=1.4,dti:1.4-3.5,dti:3.5-7.7,dti:7.7-10.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,dti:>35
427211,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
206088,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
136020,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
412305,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
36159,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [36]:
inputs_2015_With_ref_cat.shape

(421094, 86)

# 3 Calculating scores from a score card

In [37]:
#url = 'https://drive.google.com/file/d/1XU0CwMv2skhc_P_LHiDZzUx1N0kEW2Rg/view?usp=share_link'
#output = 'df_scorecard.csv'
#g_down (url,output)

df_scorecard = pd.read_csv ('../data/df_scorecard.csv',index_col= 0)

In [38]:
df_scorecard

,index,Feature name,Coefficients,p_values,Original feature name,Score - Calculation,Score - Preliminary,Score - Final,Difference
0,0,Intercept,1.550161,NaN,Intercept,441.670697,442.0,442.0,0.329303
1,1,grade:A,0.166340,6.007744e-02,grade,12.757548,13.0,13.0,0.242452
2,2,grade:B,0.317997,8.154048e-08,grade,24.389000,24.0,24.0,-0.389000
3,3,grade:C,0.307956,3.429223e-08,grade,23.618837,24.0,24.0,0.381163
4,4,grade:D,0.291457,6.052307e-08,grade,22.353437,22.0,22.0,-0.353437
5,5,grade:E,0.241896,5.566616e-07,grade,18.552354,19.0,19.0,0.447646
6,6,grade:F,0.087900,8.056031e-02,grade,6.741582,7.0,7.0,0.258418
7,7,home_ownership:OWN,0.123187,9.007721e-10,home_ownership,9.447892,9.0,9.0,-0.447892
8,8,home_ownership:MORTGAGE,0.122596,1.593936e-22,home_ownership,9.402614,9.0,9.0,-0.402614
9,9,addr_state:NM_VA,0.012562,6.944298e-01,addr_state,0.963479,1.0,1.0,0.036521
10,10,addr_state:NY,0.038082,1.164327e-01,addr_state,2.920737,3.0,3.0,0.079263
11,11,addr_state:OK_TN_MO_LA_MD_NC,0.066963,3.918226e-03,addr_state,5.135744,5.0,5.0,-0.135744
12,12,addr_state:CA,0.044332,3.679183e-02,addr_state,3.400034,3.0,3.0,-0.400034
13,13,addr_state:UT_KY_AZ_NJ,0.068354,6.148629e-03,addr_state,5.242443,5.0,5.0,-0.242443
14,14,addr_state:AR_MI_PA_OH_MN,0.137678,1.066661e-09,addr_state,10.559273,11.0,11.0,0.440727
15,15,addr_state:RI_MA_DE_SD_IN,0.103364,5.445869e-04,addr_state,7.927530,8.0,8.0,0.072470
16,16,addr_state:GA_WA_OR,0.182567,8.834730e-12,addr_state,14.002073,14.0,14.0,-0.002073
17,17,addr_state:WI_MT,0.259968,5.949738e-08,addr_state,19.938441,20.0,20.0,0.061559
18,18,addr_state:TX,0.214959,1.462974e-16,addr_state,16.486385,16.0,16.0,-0.486385
19,19,addr_state:IL_CT,0.252902,6.177117e-18,addr_state,19.396492,19.0,19.0,-0.396492
20,20,addr_state:KS_SC_CO_VT_AK_MS,0.319822,3.878267e-25,addr_state,24.528941,25.0,25.0,0.471059
21,21,addr_state:WV_NH_WY_DC_ME_ID,0.501595,4.592912e-21,addr_state,38.470102,38.0,39.0,-0.470102
22,22,verification_status:Not Verified,0.133338,4.001465e-20,verification_status,10.226463,10.0,10.0,-0.226463
23,23,verification_status:Source Verified,0.100320,1.962230e-14,verification_status,7.694101,8.0,8.0,0.305899
24,24,purpose:credit_card,0.381747,1.275966e-40,purpose,29.278307,29.0,29.0,-0.278307
25,25,purpose:debt_consolidation,0.286465,1.512276e-27,purpose,21.970608,22.0,22.0,0.029392
26,26,purpose:oth__med__vacation,0.296274,5.811829e-21,purpose,22.722939,23.0,23.0,0.277061
27,27,purpose:major_purch__car__home_impr,0.335113,3.412779e-26,purpose,25.701672,26.0,26.0,0.298328
28,28,initial_list_status:w,0.271357,2.700122e-112,initial_list_status,20.811927,21.0,21.0,0.188073
29,29,term:36,0.115345,1.152250e-16,term,8.846449,9.0,9.0,0.153551
30,30,emp_length:1,0.060364,2.018268e-02,emp_length,4.629689,5.0,5.0,0.370311
31,31,emp_length:2-4,0.082457,1.194985e-05,emp_length,6.324071,6.0,6.0,-0.324071
32,32,emp_length:5-6,0.025416,2.335298e-01,emp_length,1.949330,2.0,2.0,0.050670
33,33,emp_length:7-9,0.037329,7.217194e-02,emp_length,2.862945,3.0,3.0,0.137055
34,34,emp_length:10,0.117146,1.866244e-10,emp_length,8.984561,9.0,9.0,0.015439
35,35,int_rate:<9.548,1.652649,1.691631e-112,int_rate,126.750928,127.0,127.0,0.249072
36,36,int_rate:9.548-12.025,1.001852,4.069093e-129,int_rate,76.837687,77.0,77.0,0.162313
37,37,int_rate:12.025-15.74,0.653934,2.577446e-80,int_rate,50.153900,50.0,50.0,-0.153900
38,38,int_rate:15.74-20.281,0.247337,3.845253e-18,int_rate,18.969661,19.0,19.0,0.030339
39,39,inq_last_6mths:0,-1.150507,4.387528e-41,inq_last_6mths,-88.238842,-88.0,-88.0,0.238842
40,40,inq_last_6mths:1-2,-1.319188,2.289496e-53,inq_last_6mths,-101.175914,-101.0,-101.0,0.175914
41,41,inq_last_6mths:3-6,-1.472351,1.821811e-64,inq_last_6mths,-112.922853,-113.0,-113.0,-0.077147
42,42,pub_rec:3-4,0.445671,1.283562e-06,pub_rec,34.181009,34.0,34.0,-0.181009
43,43,pub_rec:>=5,0.561028,4.182184e-03,pub_rec,43.028400,43.0,43.0,-0.028400
44,44,acc_now_delinq:>=1,0.166130,7.406251e-02,acc_now_delinq,12.741471,13.0,13.0,0.258529
45,45,total_rev_hi_lim:5K-10K,0.088985,3.190315e-04,total_rev_hi_lim,6.824791,7.0,7.0,0.175209
46,46,total_rev_hi_lim:10K-20K,0.089182,1.354298e-04,total_rev_hi_lim,6.839887,7.0,7.0,0.160113
47,47,total_rev_hi_lim:20K-30K,0.123301,9.413163e-07,total_rev_hi_lim,9.456679,9.0,9.0,-0.456679
48,48,total_rev_hi_lim:30K-40K,0.158784,1.289506e-08,total_rev_hi_lim,12.178006,12.0,12.0,-0.178006
49,49,total_rev_hi_lim:40K-55K,0.208292,5.496768e-12,total_rev_hi_lim,15.975102,16.0,16.0,0.024898
50,50,total_rev_hi_lim:55K-95K,0.256008,3.567331e-14,total_rev_hi_lim,19.634662,20.0,20.0,0.365338
51,51,total_rev_hi_lim:>95K,0.445416,4.881546e-16,total_rev_hi_lim,34.161490,34.0,34.0,-0.161490
52,52,annual_inc:20K-30K,-0.106217,1.404945e-02,annual_inc,-8.146407,-8.0,-8.0,0.146407
53,53,annual_inc:30K-40K,-0.049034,2.387843e-01,annual_inc,-3.760691,-4.0,-4.0,-0.239309
54,54,annual_inc:40K-50K,0.049439,2.342551e-01,annual_inc,3.791758,4.0,4.0,0.208242
55,55,annual_inc:50K-60K,0.111827,7.846845e-03,annual_inc,8.576610,9.0,9.0,0.423390
56,56,annual_inc:60K-70K,0.188890,1.128798e-05,annual_inc,14.487058,14.0,14.0,-0.487058
57,57,annual_inc:70K-80K,0.257761,4.272259e-09,annual_inc,19.769168,20.0,20.0,0.230832
58,58,annual_inc:80K-90K,0.330562,4.426058e-13,annual_inc,25.352658,25.0,25.0,-0.352658
59,59,annual_inc:90K-100K,0.352283,8.766890e-14,annual_inc,27.018573,27.0,27.0,-0.018573
60,60,annual_inc:100K-120K,0.428190,6.657082e-20,annual_inc,32.840293,33.0,33.0,0.159707
61,61,annual_inc:120K-140K,0.517780,1.838384e-22,annual_inc,39.711436,40.0,40.0,0.288564
62,62,annual_inc:>140K,0.455398,2.250496e-20,annual_inc,34.927062,35.0,35.0,0.072938
63,63,dti:<=1.4,-0.167697,5.238046e-02,dti,-12.861620,-13.0,-13.0,-0.138380
64,64,dti:1.4-3.5,-0.009928,8.908337e-01,dti,-0.761462,-1.0,-1.0,-0.238538
65,65,dti:3.5-7.7,0.019309,7.574631e-01,dti,1.480878,1.0,1.0,-0.480878
66,66,dti:7.7-10.5,-0.043222,4.860158e-01,dti,-3.314973,-3.0,-3.0,0.314973
67,67,dti:10.5-16.1,-0.123651,3.938126e-02,dti,-9.483486,-9.0,-9.0,0.483486
68,68,dti:16.1-20.3,-0.222730,2.093044e-04,dti,-17.082415,-17.0,-17.0,0.082415
69,69,dti:20.3-21.7,-0.240993,1.195677e-04,dti,-18.483082,-18.0,-18.0,0.483082
70,70,dti:21.7-22.4,-0.266433,6.418244e-05,dti,-20.434268,-20.0,-20.0,0.434268
71,71,dti:22.4-35,-0.268613,6.269465e-06,dti,-20.601437,-21.0,-21.0,-0.398563
72,0,grade:G,0.000000,NaN,grade,0.000000,0.0,0.0,0.000000
73,1,home_ownership:RENT_OTHER_NONE_ANY,0.000000,NaN,home_ownership,0.000000,0.0,0.0,0.000000
74,2,addr_state:ND_NE_IA_NV_FL_HI_AL,0.000000,NaN,addr_state,0.000000,0.0,0.0,0.000000
75,3,verification_status:Verified,0.000000,NaN,verification_status,0.000000,0.0,0.0,0.000000
76,4,purpose:educ__sm_b__wedd__ren_en__mov__house,0.000000,NaN,purpose,0.000000,0.0,0.0,0.000000
77,5,initial_list_status:f,0.000000,NaN,initial_list_status,0.000000,0.0,0.0,0.000000
78,6,term:60,0.000000,NaN,term,0.000000,0.0,0.0,0.000000
79,7,emp_length:0,0.000000,NaN,emp_length,0.000000,0.0,0.0,0.000000
80,8,int_rate:>20.281,0.000000,NaN,int_rate,0.000000,0.0,0.0,0.000000
81,9,inq_last_6mths:>6,0.000000,NaN,inq_last_6mths,0.000000,0.0,0.0,0.000000
82,10,pub_rec:0-2,0.000000,NaN,pub_rec,0.000000,0.0,0.0,0.000000
83,11,acc_now_delinq:0,0.000000,NaN,acc_now_delinq,0.000000,0.0,0.0,0.000000
84,12,total_rev_hi_lim:<=5K,0.000000,NaN,total_rev_hi_lim,0.000000,0.0,0.0,0.000000
85,13,annual_inc:<20K,0.000000,NaN,annual_inc,0.000000,0.0,0.0,0.000000
86,14,dti:>35,0.000000,NaN,dti,0.000000,0.0,0.0,0.000000

In [39]:
inputs_train_With_ref_cat_w_intercept = inputs_train_With_ref_categories
inputs_train_With_ref_cat_w_intercept.insert(0,'Intercept', 1)
inputs_train_With_ref_cat_w_intercept = inputs_train_With_ref_cat_w_intercept[df_scorecard['Feature name'].values]
inputs_train_With_ref_cat_w_intercept.head()

,Intercept,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,...,initial_list_status:f,term:60,emp_length:0,int_rate:>20.281,inq_last_6mths:>6,pub_rec:0-2,acc_now_delinq:0,total_rev_hi_lim:<=5K,annual_inc:<20K,dti:>35
427211,1,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
206088,1,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
136020,1,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
412305,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
36159,1,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0

In [40]:
inputs_2015_With_ref_cat_w_intercept = inputs_2015_With_ref_cat
inputs_2015_With_ref_cat_w_intercept.insert(0,'Intercept', 1)
inputs_2015_With_ref_cat_w_intercept = inputs_2015_With_ref_cat_w_intercept[df_scorecard['Feature name'].values]
inputs_2015_With_ref_cat_w_intercept.head()

,Intercept,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,...,initial_list_status:f,term:60,emp_length:0,int_rate:>20.281,inq_last_6mths:>6,pub_rec:0-2,acc_now_delinq:0,total_rev_hi_lim:<=5K,annual_inc:<20K,dti:>35
0,1,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,1,1,0,0,0
1,1,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,1,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
3,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
4,1,0,1,0,0,0,0,0,1,0,...,0,1,0,0,0,1,1,0,0,0

In [41]:
scorecard_scores = df_scorecard['Score - Final']
scorecard_scores = scorecard_scores.values.reshape(87,1)

In [42]:
y_scores_train = inputs_train_With_ref_cat_w_intercept.dot(scorecard_scores)
y_scores_train.head()

            0
427211  580.0
206088  513.0
136020  572.0
412305  422.0
36159   451.0

In [43]:
y_scores_2015 = inputs_2015_With_ref_cat_w_intercept.dot(scorecard_scores)
y_scores_2015.head()

       0
0  624.0
1  617.0
2  502.0
3  502.0
4  561.0

In [44]:
inputs_train_with_ref_cat_w_intercept = pd.concat([inputs_train_With_ref_cat_w_intercept, y_scores_train], axis = 1)
inputs_2015_with_ref_cat_w_intercept = pd.concat([inputs_2015_With_ref_cat_w_intercept, y_scores_2015], axis = 1)

In [45]:
inputs_train_with_ref_cat_w_intercept.columns.values[inputs_train_with_ref_cat_w_intercept.shape[1]-1] = 'Score'
inputs_2015_with_ref_cat_w_intercept.columns.values[inputs_2015_with_ref_cat_w_intercept.shape[1]-1] = 'Score'

In [46]:
# Creating dummy variables for score intervals with old (\"expected\")."
inputs_train_with_ref_cat_w_intercept['Score:300-350'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 300) & (inputs_train_with_ref_cat_w_intercept['Score'] < 350), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:350-400'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 350) & (inputs_train_with_ref_cat_w_intercept['Score'] < 400), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:400-450'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 400) & (inputs_train_with_ref_cat_w_intercept['Score'] < 450), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:450-500'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 450) & (inputs_train_with_ref_cat_w_intercept['Score'] < 500), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:500-550'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 500) & (inputs_train_with_ref_cat_w_intercept['Score'] < 550), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:550-600'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 550) & (inputs_train_with_ref_cat_w_intercept['Score'] < 600), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:600-650'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 600) & (inputs_train_with_ref_cat_w_intercept['Score'] < 650), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:650-700'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 650) & (inputs_train_with_ref_cat_w_intercept['Score'] < 700), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:700-750'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 700) & (inputs_train_with_ref_cat_w_intercept['Score'] < 750), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:750-800'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 750) & (inputs_train_with_ref_cat_w_intercept['Score'] < 800), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:800-850'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 800) & (inputs_train_with_ref_cat_w_intercept['Score'] <= 850), 1, 0)

In [47]:
# Creating dummy variables for score intervals with new (\"actual\").
inputs_2015_with_ref_cat_w_intercept['Score:300-350'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 300) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 350), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:350-400'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 350) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 400), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:400-450'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 400) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 450), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:450-500'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 450) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 500), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:500-550'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 500) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 550), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:550-600'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 550) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 600), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:600-650'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 600) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 650), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:650-700'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 650) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 700), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:700-750'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 700) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 750), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:750-800'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 750) & (inputs_2015_with_ref_cat_w_intercept['Score'] < 800), 1, 0)
inputs_2015_with_ref_cat_w_intercept['Score:800-850'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score'] >= 800) & (inputs_2015_with_ref_cat_w_intercept['Score'] <= 850), 1, 0)

# 4 Population Stability Index

It is calculated with the following formula:  
PSI = [Proportions w/ new data - Proportions w train data ] x ln (Proportions w/ new data / Proportions w train data)

In [48]:
# Creating a df with proportions for the old (\"expected\") data.
PSI_calc_train = inputs_train_with_ref_cat_w_intercept.sum() / inputs_train_with_ref_cat_w_intercept.shape[0]
# Creating a df with proportions for the new (\"actual\") data.
PSI_calc_2015 = inputs_2015_with_ref_cat_w_intercept.sum() / inputs_2015_with_ref_cat_w_intercept.shape[0]

In [49]:
# Concating two dfs along the columns.
PSI_calc = pd.concat([PSI_calc_train, PSI_calc_2015], axis = 1)

In [50]:
# Resetting the index.
PSI_calc = PSI_calc.reset_index()
# Creating a new column
PSI_calc['Original feature name'] = PSI_calc['index'].str.split(':').str[0]
# Changing col names of df
PSI_calc.columns = ['index', 'Prop_Train', 'Prop_New', 'Orig feature']
# Keeping neccessary cols
PSI_calc = PSI_calc[np.array(['index', 'Orig feature', 'Prop_Train', 'Prop_New'])]
# Removing some rows
PSI_calc = PSI_calc[(PSI_calc['index'] != 'Intercept') & (PSI_calc['index'] != 'Score')]

In [51]:
# Calculating contribution of each dummy var to PSI
# If props are 0, the contribution is 0,
# Otherwise, PSI formula is applied
PSI_calc['Contribution'] = np.where((PSI_calc['Prop_Train'] == 0) |\
                                    (PSI_calc['Prop_New'] == 0), 0,\
                                    (PSI_calc['Prop_New'] - PSI_calc['Prop_Train']) * np.log(PSI_calc['Prop_New'] / PSI_calc['Prop_Train']))

/usr/local/lib/python3.8/dist-packages/pandas/core/arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [52]:
PSI_calc

,index,Orig feature,Prop_Train,Prop_New,Contribution
1,grade:A,grade,0.160200,0.174154,1.165355e-03
2,grade:B,grade,0.294160,0.279287,7.717123e-04
3,grade:C,grade,0.268733,0.286318,1.114660e-03
4,grade:D,grade,0.164862,0.148789,1.648763e-03
5,grade:E,grade,0.076702,0.082993,4.959607e-04
6,grade:F,grade,0.028228,0.023313,9.403837e-04
7,home_ownership:OWN,home_ownership,0.089256,0.108684,3.825896e-03
8,home_ownership:MORTGAGE,home_ownership,0.506546,0.493196,3.565650e-04
9,addr_state:NM_VA,addr_state,0.036032,0.034159,1.000374e-04
10,addr_state:NY,addr_state,0.086350,0.080372,4.289495e-04
11,addr_state:OK_TN_MO_LA_MD_NC,addr_state,0.100475,0.106302,3.284590e-04
12,addr_state:CA,addr_state,0.153337,0.137896,1.638977e-03
13,addr_state:UT_KY_AZ_NJ,addr_state,0.078742,0.075620,1.263345e-04
14,addr_state:AR_MI_PA_OH_MN,addr_state,0.117155,0.122894,2.745053e-04
15,addr_state:RI_MA_DE_SD_IN,addr_state,0.047128,0.049162,8.599362e-05
16,addr_state:GA_WA_OR,addr_state,0.067410,0.066425,1.452530e-05
17,addr_state:WI_MT,addr_state,0.015664,0.016208,1.857778e-05
18,addr_state:TX,addr_state,0.078166,0.082402,2.235882e-04
19,addr_state:IL_CT,addr_state,0.055245,0.055073,5.361432e-07
20,addr_state:KS_SC_CO_VT_AK_MS,addr_state,0.049168,0.052955,2.809986e-04
21,addr_state:WV_NH_WY_DC_ME_ID,addr_state,0.015591,0.015348,3.823618e-06
22,verification_status:Not Verified,verification_status,0.317896,0.281441,4.440272e-03
23,verification_status:Source Verified,verification_status,0.321772,0.426425,2.946951e-02
24,purpose:credit_card,purpose,0.224061,0.242286,1.425150e-03
25,purpose:debt_consolidation,purpose,0.587578,0.593739,6.427034e-05
26,purpose:oth__med__vacation,purpose,0.065837,0.060298,4.868175e-04
27,purpose:major_purch__car__home_impr,purpose,0.089538,0.085983,1.439721e-04
28,initial_list_status:w,initial_list_status,0.349877,0.634659,1.695889e-01
29,term:36,term,0.724929,0.672467,3.940988e-03
30,emp_length:1,emp_length,0.063411,0.065242,5.213149e-05
31,emp_length:2-4,emp_length,0.227197,0.226631,1.413359e-06
32,emp_length:5-6,emp_length,0.121945,0.099189,4.700088e-03
33,emp_length:7-9,emp_length,0.142534,0.134751,4.369352e-04
34,emp_length:10,emp_length,0.322348,0.336077,5.725772e-04
35,int_rate:<9.548,int_rate,0.179909,0.279330,4.373944e-02
36,int_rate:9.548-12.025,int_rate,0.168111,0.180914,9.398183e-04
37,int_rate:12.025-15.74,int_rate,0.348877,0.319238,2.631566e-03
38,int_rate:15.74-20.281,int_rate,0.224182,0.176659,1.132159e-02
39,inq_last_6mths:0,inq_last_6mths,0.518009,0.608907,1.469556e-02
40,inq_last_6mths:1-2,inq_last_6mths,0.403125,0.350606,7.330911e-03
41,inq_last_6mths:3-6,inq_last_6mths,0.077860,0.040487,2.443887e-02
42,pub_rec:3-4,pub_rec,0.004525,0.009309,3.450881e-03
43,pub_rec:>=5,pub_rec,0.001161,0.002494,1.019015e-03
44,acc_now_delinq:>=1,acc_now_delinq,0.003608,0.005657,9.209557e-04
45,total_rev_hi_lim:5K-10K,total_rev_hi_lim,0.146292,0.102949,1.522983e-02
46,total_rev_hi_lim:10K-20K,total_rev_hi_lim,0.292434,0.263257,3.066676e-03
47,total_rev_hi_lim:20K-30K,total_rev_hi_lim,0.192573,0.202121,4.620848e-04
48,total_rev_hi_lim:30K-40K,total_rev_hi_lim,0.116300,0.132289,2.059687e-03
49,total_rev_hi_lim:40K-55K,total_rev_hi_lim,0.094097,0.117907,5.370656e-03
50,total_rev_hi_lim:55K-95K,total_rev_hi_lim,0.073941,0.107235,1.237733e-02
51,total_rev_hi_lim:>95K,total_rev_hi_lim,0.023966,0.041459,9.587017e-03
52,annual_inc:20K-30K,annual_inc,0.059848,0.055011,4.075655e-04
53,annual_inc:30K-40K,annual_inc,0.115627,0.107577,5.808781e-04
54,annual_inc:40K-50K,annual_inc,0.147560,0.139959,4.019516e-04
55,annual_inc:50K-60K,annual_inc,0.142917,0.137352,2.210361e-04
56,annual_inc:60K-70K,annual_inc,0.116257,0.114457,2.808921e-05
57,annual_inc:70K-80K,annual_inc,0.100218,0.101963,3.013307e-05
58,annual_inc:80K-90K,annual_inc,0.075321,0.075926,4.833976e-06
59,annual_inc:90K-100K,annual_inc,0.060553,0.063228,1.156411e-04
60,annual_inc:100K-120K,annual_inc,0.070831,0.076921,5.023030e-04
61,annual_inc:120K-140K,annual_inc,0.036791,0.041756,6.284529e-04
62,annual_inc:>140K,annual_inc,0.058886,0.071556,2.469405e-03
63,dti:<=1.4,dti,0.008123,0.004329,2.387190e-03
64,dti:1.4-3.5,dti,0.020682,0.015695,1.376168e-03
65,dti:3.5-7.7,dti,0.089865,0.073155,3.437682e-03
66,dti:7.7-10.5,dti,0.096274,0.081186,2.571869e-03
67,dti:10.5-16.1,dti,0.249282,0.219854,3.696793e-03
68,dti:16.1-20.3,dti,0.188844,0.175875,9.226461e-04
69,dti:20.3-21.7,dti,0.056626,0.054233,1.033470e-04
70,dti:21.7-22.4,dti,0.026263,0.025764,9.595279e-06
71,dti:22.4-35,dti,0.256316,0.309722,1.010782e-02
72,grade:G,grade,0.007115,0.005146,6.376914e-04
73,home_ownership:RENT_OTHER_NONE_ANY,home_ownership,0.404198,0.398120,9.207217e-05
74,addr_state:ND_NE_IA_NV_FL_HI_AL,addr_state,0.099537,0.105186,3.118056e-04
75,verification_status:Verified,verification_status,0.360332,0.292134,1.430879e-02
76,purpose:educ__sm_b__wedd__ren_en__mov__house,purpose,0.032987,0.017694,9.525033e-03
77,initial_list_status:f,initial_list_status,0.650123,0.365341,1.641280e-01
78,term:60,term,0.275071,0.327533,9.157781e-03
79,emp_length:0,emp_length,0.122565,0.138109,1.856168e-03
80,int_rate:>20.281,int_rate,0.078922,0.043860,2.059771e-02
81,inq_last_6mths:>6,inq_last_6mths,0.001005,0.000000,0.000000e+00
82,pub_rec:0-2,pub_rec,0.994314,0.988197,3.774406e-05
83,acc_now_delinq:0,acc_now_delinq,0.996392,0.994343,4.215415e-06
84,total_rev_hi_lim:<=5K,total_rev_hi_lim,0.060398,0.032784,1.687267e-02
85,annual_inc:<20K,annual_inc,0.015192,0.014294,5.473559e-05
86,dti:>35,dti,0.007726,0.040188,5.352976e-02
88,Score:300-350,Score,0.000105,0.000097,5.114702e-07
89,Score:350-400,Score,0.018730,0.011000,4.114717e-03
90,Score:400-450,Score,0.164513,0.102485,2.935582e-02
91,Score:450-500,Score,0.349727,0.273511,1.873458e-02
92,Score:500-550,Score,0.281421,0.286744,9.971815e-05
93,Score:550-600,Score,0.147035,0.221335,3.038990e-02
94,Score:600-650,Score,0.037917,0.102481,6.419478e-02
95,Score:650-700,Score,0.000550,0.002342,2.597350e-03
96,Score:700-750,Score,0.000003,0.000005,1.183221e-06
97,Score:750-800,Score,0.000000,0.000000,0.000000e+00
98,Score:800-850,Score,0.000000,0.000000,0.000000e+00

In [53]:
# Summing all contributions by original feature name
PSI_calc.groupby('Orig feature')['Contribution'].sum()

Orig feature
Score                  0.149489
acc_now_delinq         0.000925
addr_state             0.003837
annual_inc             0.005445
dti                    0.078143
emp_length             0.007619
grade                  0.006775
home_ownership         0.004275
initial_list_status    0.333717
inq_last_6mths         0.046465
int_rate               0.079230
pub_rec                0.004508
purpose                0.011645
term                   0.013099
total_rev_hi_lim       0.065026
verification_status    0.048219
Name: Contribution, dtype: float64

Population Stability Index remains less than 0.25 for most of the categories. 
It is very high for the initial list status. It would be due to the changement of the population in the new data and the banks' policy about its definition.

This project ends up here but the models (PD, LGD, EAD) can be re-trained as shown in notebooks L02 and L03 with more recent data.

--- End of Notebook ---
# END